.canvas {
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 1%; */
}

.panel {
    height: 25%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    padding: 2%;
}
